/*start variable*/
:root {
   
}
/*end variable*/

/*Start Global Rules*/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    margin: 0 auto 0;
    padding: 0 15px 0 ;
}
/*small*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/*meduim*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/*large*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/*End Global Rules*/

/*start header*/
    header {
        background-image: url('../images/illustration-hero.svg');
        background-size:cover;
        height: 200px;
        background-repeat: no-repeat;
        background-position: bottom;
    }
@media (min-width:768px) {
    header {
        height: 400px;
    }
}
@media (min-width:992px) {
    header {
        height: 600px;
    }
}
/*end header*/

/*start content section*/
.content {
    text-align: center;
    margin: 30px 13px;
}
.content h1 {
    margin: 30px ;
    font-size: 40px;
    color: #333;
}
.content p {
    color:  rgb(167, 167, 167);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}
/*end content section*/

/*start our plan*/
.our-plan .container {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 15px;
}
.our-plan .container .annual-plan h3 {
    color: #333;
}
.our-plan .container .annual-plan p {
    color:  rgb(167, 167, 167);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}
.our-plan .container .btn {
    color: hsl(245, 75%, 52%);
    font-weight: bold;
}
/*end our plan*/

/*start footer*/
.proceed-to-payment {
    margin: 40px auto;
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 18px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
}
.cancel-order {
    color: #888;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    cursor: pointer;
}
